<div class="form-background-logged-in">
<h2 class="form-title">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="site-form-field"><%= f.label :email %>
  <div><%= f.email_field :email, :autofocus => true %></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="site-form-field"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
  <div><%= f.password_field :password, :autocomplete => "off" %></div>
  </div>

  <div class="site-form-field"><%= f.label :password_confirmation %>
  <div><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="site-form-field"><%= f.label :current_password %>
  <div><%= f.password_field :current_password %></div>
  </div>
  
  <div class="site-form-field"><%= f.label :first_name %>
  <div><%= f.text_field :first_name %></div>
  </div>

  <div class="site-form-field"><%= f.label :last_name %>
  <div><%= f.text_field :last_name %></div>
  </div>

  <div class="site-form-field"><%= f.label :age %>
  <div><%= f.number_field :age %></div>
  </div>

  <div class="site-form-field">
  <%= f.label :gender %><br />
  Male&nbsp;&nbsp;<%= f.radio_button :gender, 'Male' %> 
  Female&nbsp;&nbsp;<%= f.radio_button :gender, 'Female' %></div>

  <div class="site-form-field"><%= f.label :city %>
  <div><%= f.text_field :city %></div>
  </div>

  <div class="site-form-field"><%= f.label :state %>
  <div><%= f.text_field :state %></div>
  </div>

  <div class="site-form-field"><%= f.label :image %>
  <div><%= f.text_field :image %></div>
  </div>

  <div class="site-submit-button"><%= f.submit "Update" %></div>
<% end %>

<div class="site-form-field">
<%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
<%= link_to "Back", :back %>
</div>

</div>