<% if user_signed_in? %>
<h2> Your Songs </h2>
 <% current_user.playlists.each do |playlist| %>
    <h3><%= link_to playlist.name, playlist %></h3>
    <ul>
    <% playlist.songs.each do |song| %>
    <li><%= song.title + " ," + song.artist %></li>
  <% end %>
    </ul>
  <% end %>
    <%= link_to 'Add Song', new_song_path %></br>
    <%= link_to 'Add Playlist', new_playlist_path %></br>
<% else %>
  <%= render 'landing' %>
<% end %>