<%= form_for([@playlist, @song]) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="site-form-field">
    <%= f.label :url %></br>
    <%= f.text_field :url, readonly: f.object.persisted?  %>
  </div>
  <div class="site-form-field">
  <%# if @song.title == "No Title" %>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  <%# else %>
    <%#= f.label :title %></br>
    <%#= f.text_field :title, readonly: f.object.persisted?  %>
  <%# end %>
  </div>
  <div class="site-form-field">
  <%# if @song.artist == "No Artist" %>
    <%= f.label :artist %></br>
    <%= f.text_field :artist %>
  <%# else %>
    <%#= f.label :artist %></br>
    <%#= f.text_field :artist, readonly: f.object.persisted?  %>
  <%# end %>
  </div>
  <div class="genre-form-field">
    <div class="genre-title-field">
    <%= f.label :genres %>
    </div>
    <%= collection_check_boxes(:song, :genre_ids, Genre.order(:name), :id, :name, prompt: true, disabled: true) %>
  </div>
  <div class="site-submit-button">
    <%= f.submit %>
  </div>
<% end %>