<%= form_for([@playlist, @song]) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="title-field">
  <% if @song.title == "" %>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  <% else %>
    <%= f.label :title %></br>
    <%= f.text_field :title, readonly: f.object.persisted?  %>
  <% end %>
  </div>
  <div class="arist-field">
  <% if @song.artist == "" %>
    <%= f.label :artist %></br>
    <%= f.text_field :artist %>
  <% else %>
    <%= f.label :artist %></br>
    <%= f.text_field :artist, readonly: f.object.persisted?  %>
  <% end %>
  </div>
  <div class="genre-field">
    <%= f.label :genres %>
    <%= collection_check_boxes(:song, :genre_ids, Genre.order(:name), :id, :name, prompt: true, disabled: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>