<h3><%=@playlist.name %></h3><h6><%= link_to 'Edit Playlist', edit_playlist_path(@playlist.id) %></h6>
<ul>
<% @playlist.songs.each do |song| %>
    <li><%= song.url %>
    <a class="play-song-link" href='<%=song.play(song.id)%>'> Play Song </a>
    <%#= link_to 'Favorite', favorite_song_path(song.id) %>
    <%= link_to 'Edit Song', edit_playlist_song_path(playlist_id: @playlist.id, id: song.id) %></li>
    <%= link_to 'Remove From Playlist', playlist_delete_song_from_playlist_path(playlist_id: @playlist.id, song_id: song.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>

<%= link_to 'Add Song', new_playlist_song_path(@playlist.id) %></br>
<%= link_to 'Back', root_path %></br>
<%= link_to 'Delete Playlist', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %>