<div class="song-playlist">
<h3 id="playlist-name"><%=@playlist.name %></h3>
<div class="playlist-links">
<div class="playlist-links-element">
    <% unless @playlist.name == "All" || @playlist.name == "Favorites" || @playlist.name == "Shared" %>
    <%= link_to 'Edit Playlist', edit_playlist_path(@playlist.id) %>
    <% end %>
  </div>
  <div class="playlist-links-element">
    <% unless @playlist.name == "Favorites" || @playlist.name == "Shared" %>
    <%= link_to 'Add Song', new_playlist_song_path(@playlist.id) %>
    <% end %>
  </div>
  <div class="playlist-links-element">
    <% unless @playlist.name == "All" || @playlist.name == "Favorites" || @playlist.name == "Shared" %>
    <%= link_to 'Delete Playlist', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
  <div class="playlist-links-element">
    <%= link_to 'Back', root_path %>
  </div>
</div>

  <% @playlist.songs.sort_by{ |s| s.title }.each do |song| %>
  <div class="one-song">
      <!-- column one -->
      <span class="song-play-button">
      <a class="play-song-link" href='<%= song.play(song.id) %>'>
        <img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/play-button.png" alt="play" width="100"/>
      </a>
    </span>
    <!-- column two -->
    <span class="song-attributes">
        <% if current_user.playlists.find_by_name("Favorites").songs.include?(song) == nil %>
        <h5><%= link_to image_tag("http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_048_dislikes.png", alt: "favorite"), { controller: "songs", action: "add_favorite", playlist_id: @playlist.id, id: song.id }, method: :post %><%= song.favorites %></h5>
        <% else %>
        <h5><%= link_to image_tag("http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_049_star.png", alt: "unfavorite"), { controller: "songs", action: "remove_favorite", playlist_id: @playlist.id, id: song.id }, method: :post %><%= song.favorites %></h5>
        <% end %>
        <h5><img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_173_play.png" alt="play">&nbsp;&nbsp;&nbsp;&nbsp;xx</h5>
        <h5><img src="http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_308_share_alt.png" alt="share">&nbsp;&nbsp;xx</h5>
      </span>
    <!-- column three -->
    <span class="song-text">
        <h4><%= song.title %></h4>
        <h5><%= song.artist %></h5>
    </span>
    <!-- column four -->
    <span class="song-edit-delete">
      <%= link_to image_tag("http://s3.amazonaws.com/ApolloApp/Landing+Page/gear.png", alt: "edit", width: "50px"), edit_playlist_song_path(playlist_id: @playlist.id, id: song.id) %>
      <% unless @playlist.name == "All" || @playlist.name == "Favorites" || @playlist.name == "Shared" %>
      <%= link_to image_tag("http://s3.amazonaws.com/ApolloApp/Landing+Page/bin.png", alt: "delete", width: "50px"), playlist_delete_song_from_playlist_path(playlist_id: @playlist.id, song_id: song.id, order_id: @playlist.songs.find(song.id).orders.first.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </span>
  </div>
  </br>
<% end %>
</div>
