<div class="nav-bar twelve columns">
  <div class="nav-logo three columns">
    <%= link_to root_path do %>
    <h4><img src="https://s3.amazonaws.com/ApolloApp/Landing+Page/apollologo.png" width="25">Apollo</h4>
    <% end %>
  </div>
  <div class="nav-bar-player six columns">
    <h4>Placeholder for music player</h4>
  </div>
  <div class="nav-bar-welcome three columns">
  <% if user_signed_in? %>
    <span class="nav-bar-welcome-text">Welcome<% if current_user.first_name != nil %>
      <%= ", " + current_user.first_name %>
      <% else %>
      <%= "" %>
      <% end %>
    </span>
    <span class="nav-bar-settings">
      <%= link_to image_tag("http://s3.amazonaws.com/ApolloApp/Landing+Page/glyphicons_280_settings.png", alt: "user settings", width: 15), edit_user_registration_path %>
    </span>
    <span class="nav-bar-log-out">
    <%= link_to "Log Out", destroy_user_session_path, method: 'delete' %>
    </span>
    <% else %>
    <div class="register">
      <h5><%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %></h5>
    </div>
    <% end %>
  </div>
</div>